.bento-grid .item:nth-child(3) {
    background-color: hsl(254, 88%, 90%);
    grid-area: box3;
    padding: 2.75rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

    .bento-grid .item:nth-child(3) img {
        position: absolute;
        height: 410px;
        object-fit: cover;
        object-position: left;
        top: 150px;
    }