.bento-grid .item:nth-child(5) {
	background-color: hsl(0, 0%, 100%);
	grid-area: box5;
	padding: 1rem 2rem 1rem 2rem;
	position: relative;
}

	.bento-grid .item:nth-child(5) p {
		margin-top: 6rem;
	}

	.bento-grid .item:nth-child(5) img {
		position: absolute;
	}