.bento-grid .item:nth-child(8) {
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    grid-area: box8;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1.75fr 2fr;
    align-items: center;
    gap: 1rem;
}
